<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <!--扫一扫，了解更多！！！-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>扫一扫，了解更多！！！</h4>
        <img class="img-thumbnail question-wechat" src="/images/weixin.png">
    </div>
    <!--QQ-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>欢迎Q我！！！</h4>
        <img class="img-thumbnail question-wechat" src="/images/qq.jpg">
       <!-- <a href="https://gio.ren/w/nP2AqLRm" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'WONDERCR','transport_type': 'SIDE'})">
        </a>-->
    </div>
    <!--打赏-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>一分也是爱！！！</h4>
        <img class="img-thumbnail question-wechat" src="/images/official.jpg">
        <!--<a href="http://gk.link/a/103Vl" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'GEEKTIME','transport_type': 'SIDE'})">
        </a>-->
    </div>
</div>
</body>
</html>
